{
  "openapi": "3.0.1",
  "info": {
    "title": "bsp-items-catalog-v2",
    "description": "",
    "contact": {
      "name": ""
    },
    "license": {
      "name": "Copyright 2017 NCR Corporation. All rights reserved.",
      "url": "http://www.ncr.com/license"
    },
    "version": "2.27.0"
  },
  "servers": [
    {
      "url": "https://api.ncr.com/catalog"
    }
  ],
  "paths": {
    "/item-attributes": {
      "get": {
        "tags": [
          "item-attributes"
        ],
        "summary": "Retrieve item attribute document/s by the specified search criteria.",
        "description": "<p>This API will fetch item attribute documents matching the specified search criteria (also known as standard search).<br/> The search criteria is passed as a query parameter with the API request. If more than one parameters are used, they will be applied as <b>a logical conjunction (AND) operation.</b><br/>Fields named \\*Pattern support wild-card characters. Examples: <br/>itemCodePattern=12331231 (exact match),<br/> itemCodePattern=21\\* (starts with 21), <br/>itemCodePattern=\\*32\\* (contains 32), <br/> itemCodePattern=\\* (any value)<br/></p><p><h3>Input parameter:- </h3> <code>request:</code> It contains a set of item attribute search criteria.<br/></p><h3>Returns:</h3>  A page of catalog item attribute objects that match the specified search criteria.</p>",
        "operationId": "findByCriteria_5",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The requested page number (starting from zero)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 214748,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10000,
              "minimum": 10,
              "type": "integer",
              "description": "The page size",
              "format": "int32",
              "example": 200,
              "default": 200
            },
            "example": 200
          },
          {
            "name": "itemCodePattern",
            "in": "query",
            "description": "Item Code pattern to use for a search (standard wildcard matching rules apply).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "attributeStatus",
            "in": "query",
            "description": "Item Attribute status to use for a search.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "INACTIVE",
                "ACTIVE",
                "DISCONTINUED",
                "SEASONAL",
                "TO_DISCONTINUE",
                "UNAUTHORIZED"
              ]
            }
          },
          {
            "name": "internalPriceIdPattern",
            "in": "query",
            "description": "Internal Price ID pattern to use for a search (standard wildcard matching rules apply).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastPage": {
                      "type": "boolean",
                      "description": "Indicates whether the return page is last."
                    },
                    "pageNumber": {
                      "type": "integer",
                      "description": "Number of the returned page.",
                      "format": "int32",
                      "example": 1
                    },
                    "totalPages": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of result pages available",
                      "format": "int64",
                      "example": 1
                    },
                    "totalResults": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of results available",
                      "format": "int64",
                      "example": 1
                    },
                    "pageContent": {
                      "type": "array",
                      "description": "The results corresponding to the requested page of data",
                      "items": {
                        "$ref": "#/components/schemas/ItemAttributesViewData"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "An error occurred while processing a request"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException",
              "com.ncr.ocp.catalog.common.ResultWindowExceededException",
              "com.ncr.ocp.catalog.common.SortFieldException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_VIEWER"
          ]
        }
      },
      "put": {
        "tags": [
          "item-attributes"
        ],
        "summary": "Imports a mini-batch of enterprise unit specific item attributes.",
        "description": "<p>Import API will either create or update existing item-attributes documents.<br/> If the item-attribute already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. Allows specifying multiple enterprise units in the request, with a maximum of 100 enterprise units per request. The API will perform an authorization check on the supplied enterprise units.</p> <p><h3>Input parameters:-</h3><code>request</code>: contains the list of item-attributes to save ",
        "operationId": "saveMultiple_8",
        "parameters": [
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveMultipleItemAttributesRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_ADMINISTRATOR"
          ]
        }
      }
    },
    "/item-attributes/get-multiple": {
      "post": {
        "tags": [
          "item-attributes"
        ],
        "summary": "Retrieves a collection of item-attribute documents matching the item-identifiers in the request",
        "description": "This API retrieves a set of documents for a given set of item-identifiers. This API is executed on a context of a single enterprise unit which is expected to be passed as a standard header. The API does not fail, if any of the provided item-codes do not have corresponding attributes defined at the specified enterprise unit. This API allows clients to orchestrate multiple catalog APIs more effectively. For example, a client may run a search against global items by various supported parameters and then retrieve with a single call all enterprise  unit specific attributes (e.g. store level attributes) of the catalog items matched by the previous search. This API has no side-effects.<br/><p><h3>Input parameters:-</h3><code>request:</code> Identifies context of the client, such as enterprise unit that the client belongs to.<br/> <code>itemIdentifiers:</code> Object containing the item codes to use for the bulk retrieval.<br/><h3>Returns:</h3> A collection of objects that represents attributes associated with catalog items at the enterprise unit level.",
        "operationId": "findMultiple_4",
        "parameters": [
          {
            "name": "nep-enterprise-unit",
            "in": "header",
            "description": "Enterprise unit id.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributesItemIdCollectionData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemAttributes": {
                      "maxItems": 100,
                      "minItems": 0,
                      "type": "array",
                      "description": "Objects in the page of search results.",
                      "items": {
                        "$ref": "#/components/schemas/ItemAttributesViewData"
                      }
                    }
                  },
                  "description": "A collection of objects that represents attributes associated with catalog items at the enterprise unit level."
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_VIEWER"
          ]
        }
      }
    },
    "/item-attributes/{itemCode}": {
      "get": {
        "tags": [
          "item-attributes"
        ],
        "summary": "Retrieve an item-attribute document by the item-attribute resource identifier.",
        "description": "<p>This API retrieves a single document of item-attribute based on the provided <b>itemAttributesId</b> identifier. It is executed on a context of a single enterprise unit which is expected to be passed as a standard header.</p><p><h3>Input parameter:- </h3><code>itemAttributesId</code>: Resource identifier for the item attributes.<br/><h3>Returns:</h3> All of the fields of a single catalog item-attributes document, including read-only system generated/assigned fields.",
        "operationId": "get_9",
        "parameters": [
          {
            "name": "itemCode",
            "in": "path",
            "description": "A unique item (unique per Tenant) code which is used to identify the item.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "pattern": "\\p{Alnum}[\\w-]*",
              "type": "string",
              "description": "A unique item (unique per Tenant) code which is used to identify the item.",
              "example": "1278932"
            }
          },
          {
            "name": "nep-enterprise-unit",
            "in": "header",
            "description": "Enterprise unit identifier for which the item attributes are defined.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "description": "Enterprise unit identifier for which the item attributes are defined.",
              "example": "2458ed1befed42849418bfd9bdcdc562"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "ItemAttributesIdData",
                    "itemAttributesId",
                    "status",
                    "version"
                  ],
                  "type": "object",
                  "properties": {
                    "version": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "Version (normally epoch time in millis) representing the version of the object. This field is used to avoid object overrides in environments that allow concurrent modification of data.",
                      "format": "int64"
                    },
                    "blockForSale": {
                      "type": "boolean",
                      "description": "Block for Sale Flag"
                    },
                    "longDescription": {
                      "$ref": "#/components/schemas/MultiLanguageTextData"
                    },
                    "shortDescription": {
                      "$ref": "#/components/schemas/MultiLanguageTextData"
                    },
                    "merchandiseCategory": {
                      "$ref": "#/components/schemas/NodeIdData"
                    },
                    "internalPriceId": {
                      "maxLength": 100,
                      "minLength": 1,
                      "pattern": "\\p{Alnum}[\\w-]*",
                      "type": "string",
                      "description": "internalPriceId is used as an identifier for different items sold as the same.",
                      "example": "454"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the current item attributes. If set to INACTIVE, it means that item is not available for the specified unit. This approach allows to apply restrictions at the enterprise unit and also maintain information about the products that are 'sold' at a specific location.<br/>Supported types:<br/><ul><li>ACTIVE: Indicates that object is active.</li><li>INACTIVE: Indicates that object is not active.</li><li>DISCONTINUED: Indicates that object is discontinued.</li><li>SEASONAL: Indicates that object is seasonal.</li><li>TO_DISCONTINUE: Indicates that object will be discontinued.</li><li>UNAUTHORIZED: Indicates that object is unauthorized.</li></ul>",
                      "enum": [
                        "INACTIVE",
                        "ACTIVE",
                        "DISCONTINUED",
                        "SEASONAL",
                        "TO_DISCONTINUE",
                        "UNAUTHORIZED"
                      ]
                    },
                    "dynamicAttributes": {
                      "maxItems": 50,
                      "minItems": 0,
                      "uniqueItems": true,
                      "type": "array",
                      "description": "Customer specific dynamic attributes.",
                      "items": {
                        "$ref": "#/components/schemas/DynamicAttributesData"
                      }
                    },
                    "sourceSystem": {
                      "$ref": "#/components/schemas/SourceSystemData"
                    },
                    "groups": {
                      "maxItems": 100,
                      "minItems": 0,
                      "uniqueItems": true,
                      "type": "array",
                      "description": "Collection of groups that represents group memberships of the catalog item (enterprise unit level).",
                      "items": {
                        "$ref": "#/components/schemas/GroupIdData"
                      }
                    },
                    "linkGroups": {
                      "maxItems": 100,
                      "minItems": 0,
                      "uniqueItems": true,
                      "type": "array",
                      "description": "Collection of linked items that represents a logically connected group of the catalog items at the enterprise unit level). Linked item reference allows specifying additional attributes at the association level.",
                      "items": {
                        "$ref": "#/components/schemas/LinkGroupIdData"
                      }
                    },
                    "imageUrls": {
                      "maxItems": 100,
                      "minItems": 0,
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "locations": {
                      "uniqueItems": true,
                      "type": "array",
                      "description": "Collection of location information that represents where an item is located. If multiple duplicate objects are given, will save one.",
                      "items": {
                        "$ref": "#/components/schemas/LocationAttributesData"
                      }
                    },
                    "regulatoryMessages": {
                      "type": "array",
                      "description": "Collection of messages and language codes that represents required government regulatory messages.",
                      "items": {
                        "$ref": "#/components/schemas/RegulatoryMessageData"
                      }
                    },
                    "kitchen": {
                      "$ref": "#/components/schemas/KitchenAttributes"
                    },
                    "nutritionFacts": {
                      "$ref": "#/components/schemas/NutritionFactsData"
                    },
                    "baggingRequired": {
                      "type": "integer",
                      "description": "Field used to determine if bagging is required for the item.",
                      "format": "int32"
                    },
                    "substitutionCheck": {
                      "type": "integer",
                      "description": "Substitution Check Related information",
                      "format": "int32"
                    },
                    "visualVerifyItem": {
                      "type": "boolean",
                      "description": "Field used to determine if item requires attendant verification"
                    },
                    "itemAttributesId": {
                      "$ref": "#/components/schemas/ItemAttributesIdData"
                    },
                    "auditTrail": {
                      "$ref": "#/components/schemas/AuditTrailData"
                    }
                  },
                  "description": "Contains all of the fields of a catalog item attributes, including read-only system generated/assigned fields."
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "404": {
            "description": "The itemattributes does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "Resource does not exist"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.ResourceDoesNotExistException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_VIEWER"
          ]
        }
      },
      "put": {
        "tags": [
          "item-attributes"
        ],
        "summary": "Creates/Updates an item-attribute document for a specific enterprise unit (site/store).",
        "description": "<p>This API creates/updates item-attribute document for the provided <b>itemCode</b>. If the item-attribute already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. This API is executed on a context of a single enterprise unit which is expected to be passed as a standard header.</p><p><h3>Input parameters:-</h3><code>itemAttributesId:</code> Identifier object that binds item to enterprise unit<br/><code>itemAttributesData:</code> Request object to create an item attribute for an enterprise unit.</p>",
        "operationId": "save_4",
        "parameters": [
          {
            "name": "itemCode",
            "in": "path",
            "description": "A unique item (unique per Tenant) code which is used to identify the item.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "pattern": "\\p{Alnum}[\\w-]*",
              "type": "string",
              "description": "A unique item (unique per Tenant) code which is used to identify the item.",
              "example": "1278932"
            }
          },
          {
            "name": "nep-enterprise-unit",
            "in": "header",
            "description": "Enterprise unit identifier for which the item attributes are defined.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "description": "Enterprise unit identifier for which the item attributes are defined.",
              "example": "2458ed1befed42849418bfd9bdcdc562"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ItemAttributesData"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_ADMINISTRATOR"
          ]
        }
      }
    },
    "/item-attributes/{itemCode}/details": {
      "get": {
        "tags": [
          "item-attributes"
        ],
        "summary": "Get item-attributes details.",
        "description": "Get item attributes details for one or more enterprise unit.  If no enterprise unit is provided in request then results will be filter on organization level.",
        "operationId": "getItemAttributesDetails_1",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The requested page number (starting from zero)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 214748,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10000,
              "minimum": 10,
              "type": "integer",
              "description": "The page size",
              "format": "int32",
              "example": 200,
              "default": 200
            },
            "example": 200
          },
          {
            "name": "nep-enterprise-unit",
            "in": "header",
            "description": "Enterprise unit identifier for which the item attributes are defined.  If not specified then result will be filter for all enterprise units (tenant level)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "description": "Enterprise unit identifier for which the item attributes are defined.  If not specified then result will be filter for all enterprise units (tenant level)"
            }
          },
          {
            "name": "itemCode",
            "in": "path",
            "description": "An item's unique identifier for which attributes need to find",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "pattern": "\\p{Alnum}[\\w-]*",
              "type": "string",
              "description": "An item's unique identifier for which attributes need to find"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastPage": {
                      "type": "boolean",
                      "description": "Indicates whether the return page is last."
                    },
                    "pageNumber": {
                      "type": "integer",
                      "description": "Number of the returned page.",
                      "format": "int32",
                      "example": 1
                    },
                    "totalPages": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of result pages available",
                      "format": "int64",
                      "example": 1
                    },
                    "totalResults": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of results available",
                      "format": "int64",
                      "example": 1
                    },
                    "pageContent": {
                      "type": "array",
                      "description": "The results corresponding to the requested page of data",
                      "items": {
                        "$ref": "#/components/schemas/ItemAttributesDetails"
                      }
                    }
                  },
                  "description": "The response object to contain enterprise unit's link group details of an item."
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "An error occurred while processing a request"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException",
              "com.ncr.ocp.catalog.common.ResultWindowExceededException",
              "com.ncr.ocp.catalog.common.SortFieldException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_VIEWER"
          ]
        }
      }
    },
    "/item-attributes/snapshot": {
      "get": {
        "tags": [
          "item-attributes"
        ],
        "summary": "Get the snapshot based on the provided enterprise unit.",
        "description": "<p>Item attribute document synchronization API that is used to synchronize the resource state with the remote client such as POS, Store Server or mobile device. This API requires specifying enterprise unit id that matches the client synchronization system (e.g. store server or POS). Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.</p><p><h3>Input parameter:</h3><code>request</code>: Snapshot request containing snapshotVersion and enterpriseUnitId<br/><h3>Returns:</h3> Snapshot that matches the request parameters (e.g. all item-attributes modified since the submitted client version.)<br/><br/><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>",
        "operationId": "getSnapshot_7",
        "parameters": [
          {
            "name": "nep-enterprise-unit",
            "in": "header",
            "description": "Enterprise unit identifier for which the documents are defined.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "description": "Enterprise unit identifier for which the documents are defined."
            }
          },
          {
            "name": "nep-snapshot-version",
            "in": "header",
            "description": "Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Flag to filter just one status type.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "INACTIVE",
                "ACTIVE",
                "DISCONTINUED",
                "SEASONAL",
                "TO_DISCONTINUE",
                "UNAUTHORIZED"
              ]
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshotVersion": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "snapshot": {
                      "maxItems": 10000,
                      "minItems": 0,
                      "type": "array",
                      "description": "Objects in the page of search results.",
                      "items": {
                        "$ref": "#/components/schemas/ItemAttributesViewData"
                      }
                    }
                  },
                  "description": "List of Item-Attribute records for get request."
                }
              }
            }
          },
          "302": {
            "description": "Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis, but there is already a response available at a new location.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "maxSnapshotVersion": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "waitEnabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "x-exception-types": [
              "com.ncr.ocp.catalog.common.PayloadExistsException"
            ]
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "409": {
            "description": "Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "maxSnapshotVersion": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "waitEnabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "x-exception-types": [
              "com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_VIEWER"
          ]
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "subscriptions"
        ],
        "description": "This rest endpoint will return any subscriptions which match the provided namePattern and topicNamePattern. Requires the CATALOG_MESSAGING_SUBSCRIBER role.",
        "operationId": "searchSubscriptions_1",
        "parameters": [
          {
            "name": "namePattern",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topicNamePattern",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastPage": {
                      "type": "boolean",
                      "description": "Indicates whether the return page is last."
                    },
                    "pageNumber": {
                      "type": "integer",
                      "description": "Number of the returned page.",
                      "format": "int32",
                      "example": 1
                    },
                    "totalPages": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of result pages available",
                      "format": "int64",
                      "example": 1
                    },
                    "totalResults": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of results available",
                      "format": "int64",
                      "example": 1
                    },
                    "pageContent": {
                      "maxItems": 10000,
                      "minItems": 0,
                      "type": "array",
                      "description": "The results corresponding to the requested page of data",
                      "items": {
                        "$ref": "#/components/schemas/SubscriptionBasicViewData"
                      }
                    }
                  },
                  "description": "Contains a page of subscriptions matching search criteria"
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "404": {
            "description": "The resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "Resource does not exist"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.ResourceDoesNotExistException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "CATALOG_MESSAGING_SUBSCRIBER"
          ]
        }
      },
      "post": {
        "tags": [
          "subscriptions"
        ],
        "description": "This rest endpoint will create a subscription to the 'catalog_update_v2' topic that will be filtered based on the requesting organization and enterprise unit. Requires the CATALOG_MESSAGING_SUBSCRIBER role.",
        "operationId": "addSubscription_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlSubscriptionViewData"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{name}": {
      "get": {
        "tags": [
          "subscriptions"
        ],
        "description": "This rest endpoint will get the subscription with the specified name. Requires the CATALOG_MESSAGING_SUBSCRIBER role.",
        "operationId": "getSubscription_1",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "TopicIdData",
                    "UrlEndpointData",
                    "description",
                    "endpoint",
                    "name",
                    "topicId"
                  ],
                  "type": "object",
                  "properties": {
                    "name": {
                      "maxLength": 200,
                      "minLength": 1,
                      "pattern": "\\p{Alpha}[\\w-]*",
                      "type": "string",
                      "description": "The name of the subscription. Always in upper-case; case conversion will be forced on the platform if necessary"
                    },
                    "description": {
                      "maxLength": 512,
                      "minLength": 1,
                      "pattern": "[\\p{L}\\p{N}].*",
                      "type": "string",
                      "description": "A description of the subscription"
                    },
                    "topicId": {
                      "$ref": "#/components/schemas/TopicIdData"
                    },
                    "messageAttributePatterns": {
                      "type": "array",
                      "description": "The message attribute patterns to use when selecting messages published on a topic. If patterns are specified, the subscription will receive only those messages that are published with attributes that match the subscription's pattern applying {@link com.ncr.nep.common.LogicalOperator#AND AND} logic to the attribute value matches. The message attribute pattern value must always be a valid regular expression pattern",
                      "items": {
                        "$ref": "#/components/schemas/KeyValueData"
                      }
                    },
                    "payloadDelivered": {
                      "type": "boolean",
                      "description": "Indicates whether message payloads should be propagated to the subscribed endpoint. If false, the endpoint will be invoked without any payload data."
                    },
                    "enterpriseUnitId": {
                      "type": "string"
                    },
                    "endpoint": {
                      "$ref": "#/components/schemas/UrlEndpointData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "404": {
            "description": "The resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "Resource does not exist"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.ResourceDoesNotExistException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "CATALOG_MESSAGING_SUBSCRIBER"
          ]
        }
      },
      "delete": {
        "tags": [
          "subscriptions"
        ],
        "description": "This rest endpoint will delete the subscription with the specified name. Requires the CATALOG_MESSAGING_SUBSCRIBER role.",
        "operationId": "deleteSubscription_1",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "404": {
            "description": "The resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "Resource does not exist"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.ResourceDoesNotExistException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "CATALOG_MESSAGING_SUBSCRIBER"
          ]
        }
      }
    },
    "/category-nodes/{nodeId}/ancestors": {
      "get": {
        "tags": [
          "category-nodes"
        ],
        "summary": "Retrieve ancestry information by the specified category node",
        "description": "This API retrieves ancestry information for the specified <b>nodeId</b>.<br/><p><h3>Input parameter:- </h3> <code>nodeId:</code> Node identifier for which the ancestry must be returned.<br/><br/><h3>Returns:</h3> A snapshot that matches the request parameters (e.g. all category nodes modified since the submitted client version).</p>",
        "operationId": "findAncestors_1",
        "parameters": [
          {
            "name": "nodeId",
            "in": "path",
            "description": "A unique code which is used to identify a node in hierarchy.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 120,
              "minLength": 1,
              "pattern": "\\p{Alnum}[\\w-]*",
              "type": "string",
              "description": "A unique code which is used to identify a node in hierarchy.",
              "example": "1-846-188-450"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nodes": {
                      "type": "array",
                      "description": "Node objects that represent a single page to deliver in response to the client",
                      "items": {
                        "$ref": "#/components/schemas/NodeBasicViewData"
                      }
                    }
                  },
                  "description": "Response object containing a page of node objects."
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "404": {
            "description": "The node does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "Resource does not exist"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.ResourceDoesNotExistException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_VIEWER"
          ]
        }
      }
    },
    "/category-nodes": {
      "get": {
        "tags": [
          "category-nodes"
        ],
        "summary": "Retrieve active category node documents by the specified search criteria.",
        "description": "This API retrieves ACTIVE category-node documents by <b>parentId</b> passed as a query parameter. <br/><p><h3>Input parameter:- </h3> <code>request:</code> Object containing the parent identifier to search by.<br/><br/><h3>Returns:</h3> A page of node objects matching the given search criteria (may be empty).",
        "operationId": "findByParent_1",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The requested page number (starting from zero)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 214748,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10000,
              "minimum": 10,
              "type": "integer",
              "description": "The page size",
              "format": "int32",
              "example": 200,
              "default": 200
            },
            "example": 200
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "Parent code of the node to search by. If empty, root nodes are returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 120,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastPage": {
                      "type": "boolean",
                      "description": "Indicates whether the return page is last."
                    },
                    "pageNumber": {
                      "type": "integer",
                      "description": "Number of the returned page.",
                      "format": "int32",
                      "example": 1
                    },
                    "totalPages": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of result pages available",
                      "format": "int64",
                      "example": 1
                    },
                    "totalResults": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of results available",
                      "format": "int64",
                      "example": 1
                    },
                    "pageContent": {
                      "type": "array",
                      "description": "The results corresponding to the requested page of data",
                      "items": {
                        "$ref": "#/components/schemas/NodeBasicViewData"
                      }
                    }
                  },
                  "description": "Response object for finder methods that returns Node objects matching the given search criteria."
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "404": {
            "description": "The pagerequest does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "Resource does not exist"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.ResourceDoesNotExistException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_VIEWER"
          ]
        }
      },
      "put": {
        "tags": [
          "category-nodes"
        ],
        "summary": "Creates/Updates multiple category node documents.",
        "description": "<p>This API creates/updates one or more category-node documents, for example the whole branch in the hierarchy or even the whole tree. If the item already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document.</p><p><h3>Input parameter:- </h3> <code>request:</code> Object containing the nodes to save.</p>",
        "operationId": "saveMultiple",
        "parameters": [
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveMultipleNodesRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "The request failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    },
                    "constraintViolations": {
                      "type": "array",
                      "description": "Constraint violation details",
                      "items": {
                        "$ref": "#/components/schemas/ConstraintViolationData"
                      }
                    }
                  },
                  "description": "The request failed validation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.PayloadConstraintViolationException"
            ]
          },
          "404": {
            "description": "The resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "Resource does not exist"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.ResourceDoesNotExistException"
            ]
          },
          "409": {
            "description": "The state of the resource is invalid for the requested operation",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "errorType"
                  ],
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code",
                      "items": {
                        "type": "string",
                        "description": "Details associated with the error. Error-specific values that provide more information on the error, such as the reason for failure or error code"
                      }
                    },
                    "errorType": {
                      "type": "string",
                      "description": "The unique fully-qualified class name identifying the exception"
                    }
                  },
                  "description": "The state of the resource is invalid for the requested operation"
                }
              }
            },
            "x-exception-types": [
              "com.ncr.nep.common.exception.InvalidResourceStateException"
            ]
          }
        },
        "x-authorities": {
          "roles": [
            "R1_CATALOG_ADMINISTRATOR"
          ]
        }
      }
    },
    "/category-nodes/suggestions": {
      "get": {
        "tags": [
          "category-nodes"
        ],
        "summary": "Retrieve Category suggestions by the specified search criteria.",
        "description": "<p>This API retrieves suggestions that fit the provided search criteria. In this case patterns are not mapped directly to specific fields, but rather apply to the several fields that may match the pattern. <br/>The search criteria is passed as a query parameter with the API request. If nodeCodePattern or titlePattern parameters are used, they will be applied as <b>a logical disjunction (OR) operation.</b> If tag, includeAncestors, or isDepartmentNode parameters are used, they will be applied <b>a logical conjunction (AND) operation.</b></p><p><h3>Input parameter:- </h3> <code>request:</code> A set of suggestions search criteria.<br/><h3>Returns:</h3>A page of catalog Category objects that match the specified search criteria. </p>",
        "operationId": "findSuggestions_2",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The requested page number (starting from zero)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 214748,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 0
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 10000,
              "minimum": 10,
              "type": "integer",
              "description": "The page size",
              "format": "int32",
              "example": 200,
              "default": 200
            },
            "example": 200
          },
          {
            "name": "nodeCodePattern",
            "in": "query",
            "description": "Node Code pattern to use for suggestions (standard wildcard matching rules apply).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "titlePattern",
            "in": "query",
            "description": "Title pattern to use for suggestions (standard wildcard matching rules apply).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "isDepartmentNode",
            "in": "query",
            "description": "Flag to filter nodes representing a department.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Tag to use for suggestions.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 100,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "includeAncestors",
            "in": "query",
            "description": "Indicates whether to include ancestors for suggestions or not. If true, includes all ancestors for each node.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "nep-correlation-id",
            "in": "header",
            "description": "A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"
          },
          {
            "name": "nep-organization",
            "in": "header",
            "description": "The organization the request applies to",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 512,
              "minLength": 1,
              "type": "string"
            },
            "example": "sample-organization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastPage": {
                      "type": "boolean",
                      "description": "Indicates whether the return page is last."
                    },
                    "pageNumber": {
                      "type": "integer",
                      "description": "Number of the returned page.",
                      "format": "int32",
                      "example": 1
                    },
                    "totalPages": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of result pages available",
                      "format": "int64",
                      "example": 1
                    },
                    "totalResults": {
                      "minimum": 0,
                      "type": "integer",
                      "description": "The total number of results available",
                      "format": "int64",
                      "example": 1
                    },
                    "pageContent": {
                      "type": "array",
                      "description": "The results corresponding to the requested page of data",
                      "items": {
[...]
